@model IEnumerable<WebTest.Models.DonHang>

@{
    ViewBag.Title = "Index";
}
<br>
<h2>Đơn Hàng Của Tôi</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaDonHang)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinhthucgiao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hinhthucthanhtoan)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TongTien)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MaDonHang)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hinhthucgiao)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hinhthucthanhtoan)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TongTien)
    </td>
    @*<td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>*@
</tr>
}

</table>
